.comidas-div {
   
    background-color: #e62020 ;
    
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    
    
}

.menu-div {
    transition: width 1s, transform 2s ease;
    min-height: 1000px;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 20px 20px;
    align-items: center;
    border: 20px solid 	burlywood;

    
    text-align: center;
    
  
}


.menu-title {
    -webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) .5s both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) .3s both;
    overflow: hidden;
   
    
    
}

.comida-item {
    color: whitesmoke;
    font-family: Chalk;
    font-size: 30px;
    animation: animated-text 0.5s steps(30,end) 0.5s 1 normal both; 
    overflow: hidden;
    width: 100%;
    -webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) .5s both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 0.6s both
    

}

.comida-list { 
    color: whitesmoke;
    font-family: Chalk;
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    -webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) .5s both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 0.9s both

}


@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}






.closed { 
    width: 5px;
    height: 1000px;
    background-color: #31343a;
}


.open {
    width: 800px;
    height: 1000px;
    background-color:  #31343a;
}


.comidas-div h2 {
    margin-top: 0px;
    padding-top: 0px;
}

.menu-title {
    color: #e0dbd1 ;
    font-family: Chalk;
    font-size: 60px
}




@font-face {
    font-family: Chalky;
    src: url(./Fonts/Chalk-y\ Sans.otf)
}


@media screen and (max-width: 700px) { 

    .menu-div {
        width: 400px;
    }

}

@media screen and (max-width: 420px) { 

    .menu-div {
        width: 400px;
        border: 5px solid burlywood;

    }

    
}


@media screen and (max-width: 350px) { 

    .menu-div {
        width: 310px;
        border: 5px solid burlywood;

    }

    
}