.comidas-div {
   
    background-color: #e62020 ;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    
    
}

.menu-div {
    transition: height 0.5s, width 1s, transform 2s ease;
    height: 600px;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 20px 20px;
    align-items: center;
    border: 20px solid 	burlywood;
    
    
  
}


.menu-title {
    animation: animated-text 0.5s steps(30,end) 0.2s 1 normal both; 
    overflow: hidden;
}

.menu-div div p {
    color: whitesmoke;
    font-family: Chalk;
    font-size: 30px;
    animation: animated-text 0.5s steps(30,end) 0.5s 1 normal both; 
    overflow: hidden;
}


@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }




.closed { 
    width: 5px;
    min-height: 300px;
    background-color: #31343a;
}


.open {
    width: 800px;
    background-color:  #31343a;
}


.comidas-div h2 {
    margin-top: 0px;
    padding-top: 0px;
}

.menu-title {
    color: #e0dbd1 ;
    font-family: Chalk;
    font-size: 60px
}




@font-face {
    font-family: Chalky;
    src: url(./Fonts/Chalk-y\ Sans.otf)
}


@media screen and (max-width: 700px) { 

    .menu-div {
        width: 400px;
    }

}

@media screen and (max-width: 420px) { 

    .menu-div {
        width: 400px;
        border: 5px solid burlywood;

    }

    
}


@media screen and (max-width: 350px) { 

    .menu-div {
        width: 310px;
        border: 5px solid burlywood;

    }

    
}