/* Demo height */

.contacto-div {
    height: 500px;

    background-color: red;
}

.visible {
    background-color: blue !important
}

.contacto-div h2 {
    margin-top: 0px;
    padding-top: 0px;
}