* {
  box-sizing: border-box;
}



/* Footer pusher */
.app-wrapper{
  display: flex;
  min-height: 84vh; 
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
}
/* Footer pusher */

body {

  background-color: #f9f8fd  
}

